#parent div {
    text-align: center;
    font-family: "Arial","Meiryo",sans-serif;
    font-size:20px; /* ルート要素のフォントサイズを20pxに設定 */
}

#parent h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em; /* h1要素のフォントサイズをルートサイズの2倍に設定 */
    letter-spacing: 1.2em;
    text-shadow:3px 3px 2px gray;
    border-bottom: solid 3px rgb(115, 115,114)
}
#child > p{
    font-weight: bold;
}

.text-skyblue{
    color: skyblue;
}

.text-pink{
    color: rgb(255, 192, 203)
}
